
// Another Test
@use "variables" as var;
.historyBox{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width:85vw;
    background-color: var.$blank;
    height: 10vh;
    border-radius: 20px;
    vertical-align: top;
    padding-right: 17rem;
    div{

        .name{
            flex-wrap: nowrap;
            display: inline-block;
            vertical-align: top;
            margin-left: 8px;

        }
    }
    p{
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        width:8rem;
    }
}
.historyHead{
    padding: 2rem;
    p{
        padding:0px;
    }
}
