$bg-color: #f2f2f2;
$font-color: #5511e3;
$Bg-color: #c5adf8;
$Bg-hover-color: #dbcff4;
$fontColorMain: rgb(75, 73, 73);
$fontColorMainHover: rgb(6, 0, 91);
$blank:#FFFFFF;
$border:#c5c5c5;
$navWidth:15rem;

